body{
  background-color: #d0d0d0;
}

a{
  text-decoration:none;
  color: black;
  display: block;
  margin-bottom: 2.5%;
}

a:hover{
  color: black;
}

header{
  background-color: #7a7878;
  text-align: center;
  font-size: 2rem;
  padding : 10px;
  margin-bottom: 20px;
}

h2{
  text-align: center;
}

a, h2{
  border-radius: 20px;
}

p{
  margin: 0 5px 0 5px;
}

footer{
  display: block;
  position: absolute;
  bottom: 0;
}

.margin-lr{
  margin: 0 4% 0 4%;
}

#Critiques{
  background-color: inherit;
}

#Critiques > h2{
  background-color: inherit;
}

#InkTober{
  background-color: inherit;
}

#InkTober > h2{
  background-color: inherit;
}

#NaNoWriMo{
  background-color: inherit;
}

#NaNoWriMo > h2{
  background-color: inherit;
}
